
#nexMatrixLayer1, #nexMatrixLayer2, #nexMatrixLayer3 {
    width: 720px;
    height: 140px;
}
#nexMatrixOptions1, #nexMatrixOptions2, #nexMatrixOptions3 {
    width: 50px;
    height: 140px;
}
#nexMatrixToggle1, #nexMatrixToggle2, #nexMatrixToggle3 {
    width: 30px;
    height: 140px;
}
#matrixWrapper {
    width: 960px;
    clear: both;
}
#optionMatrix {
    width: 50px;
    float: left;
}
#stepMatrix {
    width: 720px;
    float: left;
    padding-left: 8px;
}
#matrixToggleControls {
    width: 30px;
    float: left;
}
#rightControls {
    width: 160px;
    padding-left: 15px;
    float: left;
}
#nexSequencerToggle {
    width: 140px;
    height: 80px;
    padding-bottom: 30px;
    margin-left: 10px;
}
#nexTempoMultiplierTabs {
    width: 160px;
    height: 100px;
    padding-bottom: 20px;
    float:left;
}
#nexSequencerBPM {
    width: 80px;
    height: 60px;
    float:left;
    margin-left: 40px;
    margin-bottom: 20px;
}
#nexResyncButton {
    width: 140px;
    height: 60px;
    clear: both;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    margin-left: 10px;
}
#nexBankSelectorTabs {
    width: 720px;
    height: 30px;
    margin-left: 55px;
    margin-top: 0px;
}
#bottomControls {
    margin-top: -30px;
}
