<section class="controlsPage">
   <div class="container">
      <div class="row">
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="mainTitle">
               <h1>Fader Automation</h1>
            </div>
            <div id="topFaderControls">
               <div class="widgetLabel"><h4>Presets</h4></div>
               <div id="presetMicrosliders"></div>
               <div id="presetTabs"></div>
            </div>

            <div id="middleFaderControls">
               <div class="widgetLabel"><h4>Step Values</h4></div>
            </div>
            <div id="bottomFaderControls">
               <div class="widgetLabel"><h4>Tempo Divider</h4></div>
               <div id="tempoTabs"></div>
            </div>
            <div id="baseFaderControls">
               <div class="widgetLabelBottomFader"><h4>On/Off</h4></div>
            </div>
         </div>
      </div>
   </div>
</section>
