<section class="controlsPage">
   <div class="container">
      <div class="row">
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="mainTitle">
               <h1>Clip Sequencer</h1>
            </div>
            <div id="matrixWrapper">
               <div id="optionMatrix"></div>
               <div id="stepMatrix"></div>
               <div id="matrixToggleControls"></div>
               <div id="rightControls">

                  <div class="widgetLabel"><h4>ON/OFF</h4></div>
                  <div id="OnOffToggle-widget"></div>

                  <div class="widgetLabel"><h4>BPM</h4></div>
                  <div id="BPMControl-widget"></div>

                  <div class="widgetLabel"><h4>BPM Multiplier</h4></div>
                  <div id="BPMMultiplierTabs-widget"></div>

                  <div class="widgetLabel"><h4>Re-Sync</h4></div>
                  <div id="ResyncButton-widget"></div>

               </div>

               <div id="bottomControls">
                  <div class="widgetLabelBottom"><h4>Presets</h4></div>
                  <div id="BankSelector-widget">
                  </div>
               </div>

            </div>

            <div class="disclaimer"><p>
               <h4>
                  Notes:
               </h4>
               <ul>
                  <li>The NexusUI library is currently having compatibility issues when running via Chrome on a PC.</li>
                  <li>The functionality is more interesting when running alongside <a href="http://www.resolume.com" target="_blank">Resolume</a> live visuals software. </li>
               </ul> </p>
            </div>
         </div>
      </div>
   </div>
</section>
