<section class="controlsPage">
   <div class="container">
      <div class="row">
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="mainTitle">
               <h1>Clip Sequencer</h1>
            </div>
            <div id="matrixWrapper">
               <div id="optionMatrix"></div>
               <div id="stepMatrix"></div>
               <div id="rightControls">
               </div>
            </div>
            <div id="bottomControls"></div>
         </div>
      </div>
   </div>
</section>
