<section class="controlsPage">
   <div class="container">
      <div class="row">
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="mainTitle">
               <h1>Fader Automation</h1>
            </div>
            <div id="topFaderControls">
               <div id="presetMicrosliders"></div>
               <div id="presetTabs"></div>
            </div>
            <div id="middleFaderControls"></div>
            <div id="bottomFaderControls">
               <div id="tempoTabs"></div>
            </div>
            <div id="baseFaderControls"></div>
         </div>
      </div>
   </div>
</section>
